<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/Logo50.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>LevelLink</title>
</head>

<body>
    <!-- <div id="banner">
        <div id="banner-content">
            <h1>Latiniumart</h1>
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/Logo50.png') }}" alt="LevelLink Logo">
            </a>
            
        </div> -->
    <!-- </div> -->
    <!-- Calendly inline widget begin -->
    <!-- <div class="calendly-inline-widget" data-url={{profile.calendly_url + "?hide_event_type_details=1&hide_gdpr_banner=1"}} style="min-width:320px;height:700px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script> -->
    <!-- Calendly inline widget end -->
</body>
<style>
    body{
        background-color: #021327;
        background-image: url("{{ url_for('static', filename='images/j.png') }}");
    }
</style>