<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/Logo50.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>LevelLink</title>
</head>
<!-- bootstrap classes for dark theme -->
<!-- bg-dark: sets the background color to dark -->
<body class="bg-dark">

    <div class="container">
        <h2>Coachs</h2>
        <table class="table table-hover table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Rank</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Profile Picture</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in profiles %}
                    <tr data-href="{{ url_for('profile', profile_id=profile.id) }}" style="cursor: pointer;">
                        <td scope="row">{{ profile.nome }}</td>
                        <td>{{ profile.rank }}</td>
                        <td>{{ profile.rating }}</td>
                        <td><img src="{{ url_for('static', filename=profile.profilepicture) }}" alt="Profile Picture" width="30" style="margin-bottom:0px !important"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Add click event to each table row
            const rows = document.querySelectorAll("tr[data-href]");
            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
</body>
<style>

    .bg-light {
        background-image: url('your-image-url.jpg');
        background-size: cover;
        background-position: center;
    }

    #main_container {
       
        justify-content: center;
        padding: 15px;
    }
    img{
        margin: 25px;
        margin-bottom: 15vh;
        width: -webkit-fill-available;
    }
    *{
        color: #ededef;
        font-family: monospace;
    }
    h1
    {
        margin-bottom: 1rem;
    }

</style>

</html>